langchain
langchain_community
langchain_text_splitters
langchain-google-genai
langchain_chroma
python-dotenv
gradio
unstructured

jupyter
ipykernel
python-dotenv
langchain-google-genai
langchain-chroma
langchain-text-splitters
langchain-community
gradio
rouge-score
openai
langchain-openai
pandas
langchain-experimental

matplotlib
numpy
seaborn